*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.img1{ 
    padding: 40px 0px 0px 50px;
}
.card{
    margin-left: 10px;
}
.cardimg{
    padding: 30px 0  0 0px;
}
.head1{
    color: white;
    margin-top: -140px;
    margin-left: 30px;
    animation: animate  3s 1s right-left;
}
.head2{
    color: white;
   margin-top: 100px;
    margin-left: 180px;
    font-size: 40px;
}
.head3{
    color: white;
    margin-top: 30px;
    margin-left: 150px;
}
.img2{
    margin-top: 100px;
    margin-left: 50px;

}
.head4{
    color: white;
    margin: -350px 0 0 600px;
}
.para1{
    color: white;
    margin: 50px 0 0 600px;
    
}
.slider2{
    width: 90vw;
    margin: 12px auto;
}
.card2{
    max-width: 91vw;
    margin: 155px auto;

}
.card-item2{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 0 35px;
}

