/* .flex-all-center{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* .my-1{
    margin: 5px 100px;
}
.my-2{
    margin: 26px 65px;
} */
.my-3{ 
     color: white;
     padding: 20px 0;

}
.lines2{
    color: white;
    padding: 10px;
    text-align: center;
}